
.body{
    background-color: white;
}
#card-header{
width: auto;
text-align: left;
background-color: white ;
}
#card-body{
    width: auto;
}
#card-text{
text-align: left;
background-color: white;
}
#icon{
    font-size:25px;
    float: left;
    size: 25px;
}
#post{
    float: right;
    margin: 5px;
    left: 270px;
}
